:root{
    --color-background-first: #0d1117;
    --color-background-second: #010409;
    --color-font: #c9d1d9;
    --color-btnLogin: #e7eaec;
    --color-btn1: #b80348be;
    --color-btnFocus: #393e46;
    --color-font1: #b80348;
    --color-font2: #F8550E;
}